* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
  color: black;
}

.main__box {
  padding: 25px 0;
}

.leaf__box,
.pest__box,
.seed__box {
  margin-top: 40px;
}

.title {
  background: #22c55e;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 25px;
  margin-top: 10px;
  margin-left: 40px;
  border-radius: 8px;
  max-width: fit-content;
  margin: auto;
}

.crop__box {
  margin: 10px 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  grid-column-gap: 12px;
  grid-row-gap: 24px;
  margin-top: 20px;
  gap: 24px;
  padding: 24px 32px;
  border-radius: 12px;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 8px 0 rgba(34, 197, 94, 1);
}

.crop__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 30px;
  cursor: pointer;
}

.crop__card:hover {
  scale: 105%;
  border: 3px solid #22c55e;
}

.crop__img__container {
  width: 100px;
  height: 100px;
  background: #22c55e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.crop__img__container img {
  width: 85%;
}

@media (min-width: 1024px) {
  .crop__box {
    justify-content: start;
  }
}
