<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" href="../static/assets/favicons/favicon.ico" type="image/x-icon">
    <title>CROP DISEASE PREDICTION</title>
</head>

<body>
    <nav>
        <div id="google_translate_element"></div>
    </nav>

    <div class="hero__poster">
        <img src="../static/assets/MainPoster.png" alt="poster">
        <h1>Crop Disease Prediction</h1>
    </div>

    <div>
        <div class="leaf__box">
            <h1 class="title">Leaf</h1>
            <div class="crop__box">
                <a href="/leaf/apple">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/apple.png" alt="apple">
                        </div>
                        <h1>Apple</h1>
                    </div>
                </a>
                <a href="/leaf/banana">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/banana.png" alt="">
                        </div>
                        <h1>Banana</h1>
                    </div>
                </a>
                <a href="/leaf/cassava">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/cassava.png" alt="">
                        </div>
                        <h1>Cassava</h1>
                    </div>
                </a>
                <a href="/leaf/cherry">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/cherry.png" alt="">
                        </div>
                        <h1>Cherry</h1>
                    </div>
                </a>
                <a href="/leaf/corn">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/corn.png" alt="">
                        </div>
                        <h1>Corn</h1>
                    </div>
                </a>
                <a href="/leaf/cucumber">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/cucumber.png" alt="">
                        </div>
                        <h1>Cucumber</h1>
                    </div>
                </a>
                <a href="/leaf/eggplant">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/eggplant.png" alt="">
                        </div>
                        <h1>Eggplant</h1>
                    </div>
                </a>
                <a href="/leaf/grapes">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/grapes.png" alt="">
                        </div>
                        <h1>Grapes</h1>
                    </div>
                </a>
                <a href="/leaf/moneyplant">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/moneyplant.png" alt="">
                        </div>
                        <h1>Moneyplant</h1>
                    </div>
                </a>
                <a href="/leaf/peach">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/peach.png" alt="">
                        </div>
                        <h1>Peach</h1>
                    </div>
                </a>
                <a href="/leaf/pepper">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/pepper.png" alt="">
                        </div>
                        <h1>Pepper</h1>
                    </div>
                </a>
                <a href="/leaf/potato">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/potato.png" alt="">
                        </div>
                        <h1>Potato</h1>
                    </div>
                </a>
                <a href="/leaf/strawberry">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/strawberry.png" alt="">
                        </div>
                        <h1>Strawberry</h1>
                    </div>
                </a>
                <a href="/leaf/sugarcane">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/sugarcane.png" alt="">
                        </div>
                        <h1>Sugarcane</h1>
                    </div>
                </a>
                <a href="/leaf/tomato">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/tomato.png" alt="">
                        </div>
                        <h1>Tomato</h1>
                    </div>
                </a>
                <a href="/leaf/watermelon">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/watermelon.png" alt="">
                        </div>
                        <h1>Watermelon</h1>
                    </div>
                </a>
                <a href="/leaf/wheat">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/wheat.png" alt="">
                        </div>
                        <h1>Wheat</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="pest__box">
            <h1 class="title">Pest/Insects/Nematodes</h1>
            <div class="crop__box">
                <a href="/pest/banana">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/banana.png" alt="">
                        </div>
                        <h1>Banana</h1>
                    </div>
                </a>
                <a href="/pest/cashew">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/cashew.png" alt="">
                        </div>
                        <h1>Cashew</h1>
                    </div>
                </a>
                <a href="/pest/corn">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/corn.png" alt="">
                        </div>
                        <h1>Corn</h1>
                    </div>
                </a>

                <a href="/pest/cotton">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/cotton.png" alt="">
                        </div>
                        <h1>Cotton</h1>
                    </div>
                </a>
                <a href="/pest/eggplant">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/eggplant.png" alt="">
                        </div>
                        <h1>Eggplant</h1>
                    </div>
                </a>

                <a href="/pest/potato">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/potato.png" alt="">
                        </div>
                        <h1>Potato</h1>
                    </div>
                </a>

                <a href="/pest/wheat">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/wheat.png" alt="">
                        </div>
                        <h1>Wheat</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="seed__box">
            <h1 class="title">Seed</h1>
            <div class="crop__box">
                <a href="/seed/corn">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/corn.png" alt="corn">
                        </div>
                        <h1>Corn</h1>
                    </div>
                </a>
                <a href="/seed/soybean">
                    <div class="crop__card">
                        <div class="crop__img__container">
                            <img src="../static/assets/favicons/soybean.png" alt="corn">
                        </div>
                        <h1>Soybean</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                { pageLanguage: 'en', includedLanguages: 'hi,en' },
                'google_translate_element'
            );
            document.getElementById('google_translate_element').style.display = 'block';
        } 
    </script>
    <script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>