<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheat Pest</title>
    <link rel="shortcut icon" href="../static/assets/favicons/wheat.png" type="image/png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="side__btns__container">
        <span>!</span>
        <button onclick="speakInEnglish()">Eng</button>
        <button onclick="speakInHindi()">हिंदी</button>
        <a href="https://kisan-kranti.vercel.app/crop-report-generator" target="_blank" rel="noreferrer">
            <img src="../static/assets/ReportIcon.png" alt="crop report icon">
        </a>
    </div>

    <div class="main__box">
        <div class="prediction">
            <div class="hero__images_container">
                <div class="uploaded__image__container" id="imgBox">
                    <img src="" alt="plant image" class="uploaded__image" id="imgId">
                </div>
                <div class="preview__image__container">
                    <img src="" class="preview__image" id="previewImg" alt="dataset image">
                    <p>Preferrable Images</p>
                </div>
            </div>

            <form method="POST" class="main__form" id="imgForm" onsubmit="handleSubmit(event)">
                <input type="file" name="imgData" id="imgData" accept="image/png, image/jpeg, image/jpg"
                    class="input__image" onchange="getAns()">
                <button class="main__btn" type="submit">CHECK DISEASE</button>
            </form>

            <div class="loader__container" id="loaderImg">
            </div>

            {% if result %}
            <div class="prediction__result__container" id="resultContainer">
                <h3 class="prediction__result" id="result">{{ result }}</h3>
            </div>
            {% endif %}
        </div>
    </div>

    <script src="../static/js/wheat_pest.js"></script>
    <script src="../static/js/speak.js"></script>
</body>

</html>